<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="/css/preguntas.css">
    <link rel="icon" type="img/png" href="/recursos/404icon.png">
    <title>404</title>
</head>

<body>

    <%- include('header'); %>

    <h1>
        <%=titulo%>
    </h1>
    
    <div class="headingQuestions">
        <h2>
            <%=preguntas.length%> preguntas
        </h2>

        <a class="botones" href="/preguntas/formular">
            <p>Formular una pregunta</p>
        </a>
    </div>

    <div class="containerQuestions">

        <% if (preguntas !=undefined) { %>
            <% preguntas.forEach(function(p) { %>
                <div class="element">
                    <div class="informacionPregunta">
                        <div>
                            <a class="title" href="/preguntas/<%=p.id%>">
                                <%=p.titulo%>
                            </a>
                        </div>

                        <p class="text">
                            <%=p.texto%>
                        </p>

                        <% if (p.tags !="" ) { %>
                            <div class="tags">
                                <div>
                                    <% p.tags.forEach(function(t) { %>
                                        <span class="tag">
                                            <a href="/preguntas/etiquetados/<%=t%>">
                                                <%=t%>
                                            </a>
                                        </span>
                                        <% }); %>
                                </div>
                            </div>
                            <% } %>
                    </div>

                    <div class="usuario">
                        <p class="fecha">
                            Formulada el <%=p.fecha%>
                        </p>
                        <div class="avatar">
                            <img class="img" src="../../profile_imgs/<%=p.avatar%>">
                        </div>
                        <div>
                            <a href=" ">
                                <%=p.nombreUsuario%>
                            </a>
                        </div>
                    </div>

                </div>
                <% }); %>
                    <% } %>



    </div>

</body>

</html>